<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>

    <!-- Contenu Darktsar Exe -->
    <services>
      <service name="WCFServiceWebRole1.Service1">
        <endpoint name="BindingJSON" address="../Service1.svc" binding="webHttpBinding"
          contract="WCFServiceWebRole1.IService1" behaviorConfiguration="BindingJSON" />
      </service>
    </services>
    <!-- Fin Contenu Darktsar Exe -->
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          
          <!-- Afin de ne pas dévoiler des informations de métadonnées, définissez la valeur ci-dessous sur False avant le déploiement -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, affectez true à la valeur ci-dessous. Affectez-lui false avant le déploiement afin d'éviter de dévoiler des informations d'exception -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

      <!-- Contenu Darktsar Exe -->
      <endpointBehaviors>
        <behavior name="BindingJSON">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

      <!-- Fin Contenu Darktsar Exe -->
      
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Pour accéder au répertoire racine des applications web au cours du débogage, définissez la valeur ci-dessous sur True.
        Définissez-la sur False avant le déploiement afin d'éviter la divulgation d'informations contenues dans le dossier des applications web.
    -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
